[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django-environ = "==0.4.5"
Django = "==3.1.5"
gunicorn = "*"
pytest-django = "*"
uvicorn = "*"
whitenoise = "*"
django-crispy-forms = "*"
psycopg2-binary = "==2.8.6"
celery = "*"
redis = "*"
xlsxwriter = "*"
factory-boy = "*"
django-storages = "*"
boto3 = "*"

[requires]
python_version = "3.8"
